body{
  background-color: #080616;
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
}

.laptop-img{
  width: 100%;
}

.title, a{
  color: #E6D28C;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

p{
  color: #EAEAFF;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.top-container{
  margin: 40px 0;
}

.middle-container{
  padding: 100px 0;
  background-color: #0C0B26;
}

.bottom-container{
  margin: 15px 0;
  padding: 15px 0;
}

.circle-img{
  border-radius: 50%;
}

.cat-images{
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 160px;
  flex-wrap: wrap;
  width: 100%;
}

.skills{
  margin-top: 140px;
}

.text{
  max-width: 450px;
  margin: auto;
  line-height: 1.6;
  padding: 0 15px;
  min-height: 120px;
}

.container{
  display: grid;
  margin: 25px auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 350px));
  justify-content: center;
  gap: 20px;
  width: 90%;
}

.skills-img{
  padding: 20px 0;
  object-fit: cover;
  border-radius: 20%;
}

.contact{
  padding-top: 20px;
}

.button{
  display: inline-block;
  border-radius: 20px;
  padding: 10px;
  background-color: #E6D28C;
  color: #080616;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.button:hover{
  background-color: #f5e6a8;
}

.links a:hover{
  color: #f5e6a8;
}


.links{
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 600px){
  .text{
    max-width: 90%;
  }
}
